body {background-color:tan;}
h1{color:green;}
body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana;font-size:26px;}
.maindiv {
    background-color:white;
    color:black;
    width: 400px;
    padding: 20px;
    border-radius: 25px;
    align:center
}

mark {
  background-color: yellow;
  color: black;
}